{% extends 'base.html.twig' %}

{% block title %}Inscription User{% endblock %}

{% block body %}
     <div class="con">
        <header class="head-form">
             <h2>Inscritpion</h2>
        </header>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.name_complete) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.RGPDConsent) }}

        <button type="submit" class=".valider">s'inscrire</button>
     </div>   
    {{ form_end(registrationForm) }}
    </div>
{% endblock %}
