{% extends 'base.html.twig' %}

{% block title %}AdresseRepere{% endblock %}

{% block body %}
    <h1>AdresseRepere</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ adresse_repere.id }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ adresse_repere.adresse }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ adresse_repere.longitude }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ adresse_repere.latitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_adresse_repere_index') }}">back to list</a>

    <a href="{{ path('app_adresse_repere_edit', {'id': adresse_repere.id}) }}">edit</a>

    {{ include('adresse_repere/_delete_form.html.twig') }}
{% endblock %}
