{% extends 'base.html.twig' %}

{% block title %}Famille index{% endblock %}

{% block body %}
    <h1>Famille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Image_rep</th>
                <th>Ordre_affichage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        
        <div class="container-primaire">
        {% for famille in familles %}
          {#  {% if famille.parent == null %}   #}
        
            <tr>
                <td>{{ famille.id }}</td>
                <td>{{ famille.Libelle }}</td>
                <td>{{ famille.imageRep }}</td>
                <td>{{ famille.ordreAffichage }}</td>
                <td>
                    <a href="{{ path('app_famille_show', {'id': famille.id}) }}">show</a>
                    <a href="{{ path('app_famille_edit', {'id': famille.id}) }}">edit</a>
                </td>
            </tr>
            


        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}


        <h3> test card 2 </h3> 
        <div class="famillezone">
        {% for famille in familles %}
                    <div class="famillecard">
                        <div class="box">
                            <div class="content">
                                <h3>{{ famille.Libelle }} </h3>
                                <div class="familleimage">
                                    <a href="{{ path('app_famille_show', {'id': famille.id}) }}">
                                        <img src="{{ famille.imageRep }}" alt="image de test" width="150";/> 
                                    </a>
                                </div>    
                            </div>
                        </div>

                        <button class="btn-supprime">Supprimer</a>
                        <button class="btn-modifie">Editer</a>
                    </div>

        {% endfor %}
        </div>
            </ul>
        </tbody>
    </table>



    <a href="{{ path('app_famille_new') }}">Create new</a>
{% endblock %}
