{% extends 'base.html.twig' %}

{% block title %}Famille index{% endblock %}

{% block body %}
    <h1>Famille index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Image_rep</th>
                <th>Ordre_affichage</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>


        <div class="container">
            <h4> Famille principale</h4>
            <div class="row">
                {% for famille in famillesp %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ famille.Libelle }}</h5>
                            <a href="{{ path('app_famille_index', {'id1': famille.id}) }}">
                                <img src="{{ famille.imageRep }}" alt="image de test" width="150";/>
                            </a>
                            </br>
                            <div class="btn-group" role="group" aria-label="Basic outlined example">
                                <button type="button" class="btn btn-outline-primary">Modifier</button>
                                <button type="button" class="btn btn-outline-primary">Supprimer</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ajouter une famille</h5>
                            <input class="form-control form-control-lg" type="text" placeholder="nom de la famille" aria-label=".form-control-lg example">
                            <div class="mb-3">
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <input class="btn btn-primary" type="submit" value="confirmer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h4> Sous famille (niveau 1) : </h4>
            <div class="row">
                {% for famille in famillese %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ famille.Libelle }}</h5>
                                <a href="{{ path('app_famille_index', {'id2': famille.id}) }}">
                                    <img src="{{ famille.imageRep }}" alt="image de test" width="150";/>
                                </a>
                                </br>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-primary">Modifier</button>
                                    <button type="button" class="btn btn-outline-primary">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ajouter famille </h5>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <h4> Sous famille (niveau 2) : </h4>
            <div class="row">
                {% for famille in famillesdernieres %}
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ famille.Libelle }}</h5>

                                    <img src="{{ famille.imageRep }}" alt="image de test" width="150";/>

                                </br>
                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                    <button type="button" class="btn btn-outline-primary">Modifier</button>
                                    <button type="button" class="btn btn-outline-primary">Supprimer</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Ajouter famille </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>






        </tbody>
    </table>



    <a href="{{ path('app_famille_new') }}">Create new</a>
{% endblock %}
