<div class="container">
    {%  form_theme form 'foundation_5_layout.html.twig' %}
{{ form_start(form) }}
    <div class="form-control">
        <div class="col">
            {{ form_row(form.libelle) }}
            {{ form_row(form.reference) }}
            {{ form_row(form.description) }}
            {{ form_row(form.prix_reference) }}



        </div>

    {{ form_widget(form) }}
    </div>
<button class="btn btn-info">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}

</div>
