{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
     <h1>Liste des produits</h1>

 <h1>Produit</h1>

    <div class="container-fluid">
        <form class="d-flex">
           <div    class="input-group"
            {{ stimulus_controller('search-preview', {
                url: path('app_produit_index') }) }}>

            <input name="q" value="{{ searchTerm }}"
                    placeholder="Search products..."
                    type="search" class="form-control"
                    data-action="search-preview#onSearchInput">
            rechercher</input>
           </div>
            <div class="search-preview"
                 data-search-preview-target="result">
            </div>
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>reference</th>
                <th>Libelle</th>
                <th>repertoire</th>
                <th>famille</th>
                <th>Ordre_affichage</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        <div class="container-primaire">
  {#

            {% for produit in produits %}
          {#  {% if produit.parent == null %}

            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.reference }}</td>
                <td>{{ produit.Libelle }}</td>
                <td>{{ produit.imageRep }}</td>
                <td>{{ produit.famille }}</td>
                <td>{{ produit.ordreAffichage }}</td>
                <td>
                    <a href="#">show</a>
                    <a href="#">edit</a>
                </td>
            </tr>



        {% else %}

            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
  #}
            {% for result in resultats %}

          <tr>
            <td>{{ result.id }}</td>
            <td>{{ result.reference }}</td>
            <td>{{ result.Libelle }}</td>
            <td>{{ result.imageRep }}</td>
            <td>{{ result.famille }}</td>
            <td>{{ result.ordreAffichage }}</td>
            <td>
          </tr>
            {% endfor %}
      </div>
        </tbody>
    </table>
    <a class="btn btn-primary" href="{{ path('app_produit_new') }}">Create new</a>
{% endblock %}