{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
     <h1>Liste des produits</h1>

 <h1>Produit</h1>

    <div class="container-fluid">
        <form class="d-flex">
           <div    class="input-group"
            {{ stimulus_controller('search-preview', {
                url: path('app_produit_index') }) }}>

            <input name="q" value="{{ searchTerm }}"
                    placeholder="rechercher par nom ou référence"
                    type="search" class="form-control"
                    data-action="search-preview#onSearchInput">
            rechercher</input>
           </div>
            <div class="search-preview"
                 data-search-preview-target="result">
            </div>
        </form>
    </div>

    <div class="btn-group" role="group" aria-label="Basic example">
        {% for famille in famillesp %}
        <button type="button" class="btn btn-secondary">{{ famille.libelle }}</button>
        {% endfor %}
    </div>

    <div class="container my-5">
        <a class="btn btn-primary" href="{{ path('app_produit_new') }}">Créer un nouveau produit</a>
    </div>
<style type="text/css">
    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }
</style>

    <div class="container-fluid">
        {% for result in resultats %}
        <div class="row">
            <div class="col-12 mt-3">
                <div class="card">
                    <div class="card-horizontal">
                        <div class="img-square-wrapper">
                            <img class="" src="{{ result.imageRep }}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{ result.Libelle }}</h4>
                            <p class="font-weight-bold"> {{ result.reference }} </p>
                            <p class="card-text"> {{ result.prixReference }} €  </p>
                        </div>
                        <div class="card-body">
                            <p class="card-text"> {{ result.description }}  </p>
                        </div>
                        <div class="card-body">
                            <div class="position-absolute top-50 end-0 ms-5 mb-10">
                                <a href="#" class="btn btn-danger my-1">Supprimer</a>
                                <a href="#" class="btn btn-primary my-1 ms-2 mr-2">Consulter</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">famille : {{ result.famille }}</small>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}