<header class="admin-head">
	<div class="intra-head">
        <h1>Simply The Best</h1>
        <h3>Administration</h3>
        <p> APEMA gestion administrative
        <aside>
        {% if app.user %}
        <div class="mb-3">
            
            Bienvenue {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
        </div>
    {% endif %}
        </aside>

        <br>
        <div class="user-log-info">
             <ul>
				{% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mon compte</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">M'inscrire</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">Me Connecter</a>
                    </li>
				{% endif %}
			</ul>

            {#  sous menu selon le menu (catalogue, commande, etc)  #}

       {#  {% for Films in film %}
            <li> <button class="sousmenu" onclick="{{ path('app_film_show', {'id': film.numero}) }}" >{{ film.type }}</button>
          {% endfor %}   #}
      {#   <a class="nav-link" href="{{ path('app_produit')}}"> produits </a> #}
           
            <button class="sousmenu">produits</button>
            <button class="sousmenu">READ MORE</button>
            <button class="sousmenu">READ MORE</button>
            <button class="sousmenu">READ MORE</button>
        </div>    

	</div>
</header>